<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Anarcomarombismo"
        tools:targetApi="31">

        <activity
            android:name=".Forms.formBMR"
            android:exported="false" />
        <activity
            android:name=".Forms.formMacro"
            android:exported="false" />
        <activity
            android:name=".bodyStatistics"
            android:exported="false" />
        <activity
            android:name=".Forms.formFood"
            android:exported="false" />
        <activity
            android:name=".dailyCaloriesFoods"
            android:exported="false" />
        <activity
            android:name=".Forms.formDailyCalories"
            android:exported="false" />
        <activity
            android:name=".dailyCalories"
            android:exported="false" />
        <activity
            android:name=".Forms.formExercise"
            android:exported="false" />
        <activity
            android:name=".exercises"
            android:exported="false"
            android:theme="@style/Theme.Anarcomarombismo" />
        <activity
            android:name=".Forms.formTraining"
            android:exported="true"
            android:theme="@style/Theme.Anarcomarombismo" />

        <!-- Main Activity with Intent Filter for .anarchy3 files -->
        <activity
            android:name=".mainActivity"
            android:exported="true"
            android:theme="@style/Theme.Anarcomarombismo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Intent filter to open .anarchy3 files -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Scheme for content URIs -->
                <data
                    android:scheme="content"
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.anarchy3" />

                <!-- Scheme for file URIs -->
                <data
                    android:scheme="file"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.anarchy3" />
            </intent-filter>
        </activity>

        <!-- FileProvider declaration for file sharing -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
